$govuk-blue: #005ea5;
.hidden {
  display: none;
}

.disabled {
  pointer-events: none;
}

.show {
  display: block;
}

a.govuk-button{
  text-decoration: none;
}
.autocomplete__hint, .autocomplete__input, .autocomplete__option {
  @include govuk-font($size: 19);
}
.govuk-panel--info{
    background-color: $govuk-blue;
    color: #fff;
    > p,ul,li{
      color: #fff !important
    }
}

.govuk-table-header-link{
  float: right;
  font-size: 19px;
  font-weight: 400;
}

.govuk-table__row__total{
  th,td{
    border-top: 2px solid;
  }
  td{
    font-weight: bold;
  }
}

th.govuk-table__header{
  width: 300px;
}