{% extends "layout.html" %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">Relevant case information</h1>
            <form class="form" action="upload_supporting_evidence" method="post">
                {{ govukTextarea({
                    name: "relevant_case_info[supporting_details]",
                    id: "relevant-case-info-supporting-details",
                    label: {
                        text: "Information given here may expedite payment"
                    },
                    hint: {
                        text: "Details of any relevant factors in support of time spent on the case and in support of a claim for enhanced rates. Record when and why a number of linked cases are billed as one fee, or as separate fees."
                    }
                }) }}
                {{ govukTextarea({
                    name: "relevant_case_info[late_submission_details]",
                    id: "relevant-case-info-late-submission-details",
                    label: {
                        text: "If this claim is being submitted more than 3 months after the conclusion of the proceedings, provide details of the circumstances."
                    }
                }) }}
                <button class="govuk-button" data-module="govuk-button">Save and continue</button>
            </form>
        </div>
    </div>
    {% endblock%}