{% extends "layout.html" %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">Case details</h1>
            <form class="form" action="case_disposal" method="post">
                {# Unique File Number (UFN) #}
                <div class="govuk-form-group">
                    <label class="govuk-label govuk-label--s" for="case-details-ufn">
                        Your unique file number
                    </label>
                    <div id="case-details-ufn-hint" class="govuk-hint">
                        For example, 120223/001
                    </div>
                    <input class="govuk-input govuk-input--width-10" id="case-details-ufn" name="case_details[ufn]" type="text" spellcheck="false" aria-describedby="case-details-ufn-hint" inputmode="numeric">
                </div>
                {# Main Offence #}
                <div class="govuk-form-group">
                    <label class="govuk-label govuk-label--s" for="case-details-main-offence">
                        Main offence
                    </label>
                    <div id="case-details-main-offence-hint" class="govuk-hint">
                        Enter the name of an offence, or select one from the suggestions that appear when you start to enter the name.
                    </div>
                    <input class="govuk-input govuk-input--width-20" id="case-details-main-offence" name="case_details[main_offence]" type="text" spellcheck="false" aria-describedby="case-details-main-offence-hint" inputmode="numeric">
                </div>
                {# Main Offence Date #}
                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset" role="group" aria-describedby="case-details-offence-date-hint">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                            Main offence date
                        </legend>
                        <div id="case-details-offence-date-hint" class="govuk-hint">
                            For example, 27 3 2007
                        </div>
                        <div class="govuk-date-input" id="dob">
                            <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" for="case-details-offence-date-day">
                                        Day
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="case-details-offence-date-day" name="case_details[offence_date][day]" type="text" inputmode="numeric">
                                </div>
                            </div>
                            <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" for="case-details-offence-date-month">
                                        Month
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="case-details-offence-date-month" name="case_details[offence_date][month]" type="text" inputmode="numeric">
                                </div>
                            </div>
                            <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" for="case-details-offence-date-year">
                                        Year
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="case-details-offence-date-year" name="case_details[offence_date][year]" type="text" inputmode="numeric">
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>

                {# Assigned counsel #}
                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                            Was there an assigned counsel?
                        </legend>
                        <div class="govuk-radios" data-module="govuk-radios">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="case-details-assigned-counsel-yes" name="case_details[assigned_counsel]" type="radio" value="yes">
                                <label class="govuk-label govuk-radios__label" for="case-details-assigned-counsel-yes">
                                    Yes
                                </label>
                                <div id="case-details-assigned-counsel-yes-hint" class="govuk-hint govuk-radios__hint">
                                    We’ll ask you to upload your CRM8 form before you submit this claim
                                </div>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="case-details-assigned-counsel-no" name="case_details[assigned_counsel]" type="radio" value="no">
                                <label class="govuk-label govuk-radios__label" for="case-details-assigned-counsel-no">
                                    No
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </div>
                {# Unassigned counsel #}
                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                            Was there an unassigned counsel?
                        </legend>
                        <div class="govuk-radios" data-module="govuk-radios">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="case-details-unassigned-counsel-yes" name="case_details[unassigned_counsel]" type="radio" value="yes">
                                <label class="govuk-label govuk-radios__label" for="case-details-unassigned-counsel-yes">
                                    Yes
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="case-details-unassigned-counsel-no" name="case_details[unassigned_counsel]" type="radio" value="no">
                                <label class="govuk-label govuk-radios__label" for="case-details-unassigned-counsel-no">
                                    No
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </div>
                {# Instructed Agent #}
                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                            Was there an instructed agent?
                        </legend>
                        <div class="govuk-radios" data-module="govuk-radios">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="case-details-instructed-agent-yes" name="case_details[instructed_agent]" type="radio" value="yes">
                                <label class="govuk-label govuk-radios__label" for="case-details-instructed-agent-yes">
                                    Yes
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="case-details-instructed-agent-no" name="case_details[instructed_agent]" type="radio" value="no">
                                <label class="govuk-label govuk-radios__label" for="case-details-instructed-agent-no">
                                    No
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </div>
                {# Remitted from crown court #}
                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                            Has the case been remitted from the Crown Court to the magistrates’ court?
                        </legend>
                        <div class="govuk-radios" data-module="govuk-radios">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="case-details-remitted-yes" name="case_details[remitted]" type="radio" value="yes" data-aria-controls="case-details-remitted-conditional">
                                <label class="govuk-label govuk-radios__label" for="case-details-remitted-yes">
                                    Yes
                                </label>
                            </div>
                            {# Conditional date #}
                            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="case-details-remitted-conditional">
                                <div class="govuk-form-group">
                                    <fieldset class="govuk-fieldset" role="group" aria-describedby="case-details-case-remitted-date-hint">
                                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                                            Remittal date
                                        </legend>
                                        <div id="case-details-case-remitted-date-hint" class="govuk-hint">
                                            For example, 27 3 2007
                                        </div>
                                        <div class="govuk-date-input" id="case-details-case-remitted-date">
                                            <div class="govuk-date-input__item">
                                                <div class="govuk-form-group">
                                                    <label class="govuk-label govuk-date-input__label" for="case-details-case-remitted-date-day">
                                                        Day
                                                    </label>
                                                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="case-details-case-remitted-date-day" name="case_details[remitted][day]" type="text" inputmode="numeric">
                                                </div>
                                            </div>
                                            <div class="govuk-date-input__item">
                                                <div class="govuk-form-group">
                                                    <label class="govuk-label govuk-date-input__label" for="case-details-case-remitted-date-month">
                                                        Month
                                                    </label>
                                                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="case-details-case-remitted-date-month" name="case_details[remitted][month]" type="text" inputmode="numeric">
                                                </div>
                                            </div>
                                            <div class="govuk-date-input__item">
                                                <div class="govuk-form-group">
                                                    <label class="govuk-label govuk-date-input__label" for="case-details-case-remitted-date-year">
                                                        Year
                                                    </label>
                                                    <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="case-details-case-remitted-date-year" name="case_details[remitted][year]" type="text" inputmode="numeric">
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="case-details-remitted-no" name="case_details[remitted]" type="radio" value="no">
                                <label class="govuk-label govuk-radios__label" for="case-details-remitted-no">
                                    No
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </div>
                {# Submit button #}
                <button class="govuk-button" data-module="govuk-button">Save and continue</button>
            </form>
        </div>
    </div>
{% endblock %}