{% extends "layout.html" %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">Select the case disposal</h1>
            <p class="govuk-body-l">Tick the boxes that apply. You can only tick boxes within one single category.</p>
            <form class="form" action="hearing_details" method="post">
                {% set dateOfIssue %}
                {{ govukDateInput({
                    id: "case_disposal-date-of-issue",
                    namePrefix: "case_disposal[date_of_issue]",
                    fieldset: {
                        legend: {
                        text: "Date of issue"
                        }
                    },
                    hint: {
                        text: "For example, 27 3 2007"
                    }
                }) }}
                {% endset -%}
                {% set dateOfCrackedTrial %}
                {{ govukDateInput({
                    id: "case-disposal-date-of-cracked-trial",
                    namePrefix: "case_disposal[date_of_cracked_trial]",
                    fieldset: {
                        legend: {
                        text: "Date guilty plea indicated to solicitor"
                        }
                    },
                    hint: {
                        text: "For example, 27 3 2007"
                    }
                }) }}
                {% endset -%}
                {# Category 1 #}
                {{ govukCheckboxes({
                    name: "case_disposal[category_1]",
                    fieldset: {
                        legend: {
                        text: "Category 1",
                        isPageHeading: true,
                        classes: "govuk-fieldset__legend--m"
                        }
                    },
                    items: [
                        {
                        value: "guilty plea",
                        text: "Guilty plea"
                        },
                        {
                        value: "uncontested breach",
                        text: "Uncontested breach"
                        },
                        {
                        value: "discontinuance or withdrawal",
                        text: "Discontinuance or withdrawal"
                        },
                        {
                        value: "bind over",
                        text: "Bind over"
                        },
                        {
                        value: "deffered sentence hearing",
                        text: "Deffered sentence hearing"
                        },
                        {
                        value: "change of solicitor",
                        text: "Change of solicitor"
                        },
                        {
                        value: "warrant of arrest",
                        text: "Warrent of arrest",
                        conditional: {
                            html: dateOfIssue
                        }
                        }
                    ]
                    }) }}

                {# Category 2 #}

                {{ govukCheckboxes({
                    name: "case_disposal[category_2]",
                    fieldset: {
                        legend: {
                        text: "Category 2",
                        isPageHeading: true,
                        classes: "govuk-fieldset__legend--m"
                        }
                    },
                    items: [
                        {
                        value: "no guilty plea",
                        text: "No guilty plea"
                        },
                        {
                        value: "cracked trial",
                        text: "Cracked trial",
                        conditional: {
                            html: dateOfCrackedTrial
                        }
                        },
                        {
                        value: "contested breach",
                        text: "Contested breach"
                        },
                        {
                        value: "discontinuance or withdrawal or bind over or no evidence offered after case fully prepared",
                        text: "Discontinuance or withdrawal or bind over or no evidence offered after case fully prepared"
                        },
                        {
                        value: "mixed plea",
                        text: "Mixed plea"
                        }
                    ]
                    }) }}
                <button class="govuk-button" data-module="govuk-button">Save and continue</button>

            </form>
        </div>
    </div>
{% endblock %}