{% extends "layout.html" %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">Case details</h1>
            <form class="form" action="case_disposal" method="post">
                {{ govukInput({
                    label: {
                        text: "Main offence"
                    },
                    classes: "govuk-input--width-20",
                    id: "case-details-main-offence",
                    name: "case_details[main_offence]"
                    }) }}
                {{ govukDateInput({
                    id: "case-details-offence-commited",
                    namePrefix: "case_details[date_of_offence_commited]",
                    fieldset: {
                        legend: {
                        text: "Date offence committed",
                        classes: "govuk-fieldset__legend--s"
                        }
                    },
                    hint: {
                        text: "For example, 27 3 2023"
                    }
                }) }}

                {{ govukCheckboxes({
                    id: "case-details-value",
                    name: "case_details[value]",
                    fieldset: {
                        legend: {
                        text: "Tick the boxes that apply to your case",
                        classes: "govuk-fieldset__legend--s"
                        }
                    },
                    items: [
                        {
                        value: "there was an assigned counsel",
                        text: "There was an assigned counsel"
                        },
                        {
                        value: "there was an unassigned counsel",
                        text: "There was an unassigned counsel"
                        },
                        {
                        value: "there was an agent instructed",
                        text: "There was an agent instructed"
                        },
                        {
                        value: "the case has been remitted",
                        text: "The case has been remitted from the Crown Court to the Magistrates Court"
                        }
                    ]
                }) }}
                <div id='crm8-upload-section' class='hidden'>
                    <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset" aria-describedby="crm8-hint">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                            <h1 class="govuk-fieldset__heading">
                                How will you be providing the <a class="govuk-link" href='https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/346635/legal-aid-crm8-assigned-counsel.pdf' target='_blank'>CRM8 form?</a>
                            </h1>
                            </legend>
                            <div id="crm8-hint" class="govuk-hint">
                            Select one option.
                            </div>
                            <div class="govuk-radios" data-module="govuk-radios">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="case-details-send-crm8-via-upload" name="case_details[send_crm8_via]" type="radio" value="file upload" data-aria-controls="conditional-crm8-file-upload">
                                <label class="govuk-label govuk-radios__label" for="case-details-send-crm8-via-upload">
                                File upload
                                </label>
                            </div>

                            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-crm8-file-upload">
                                {{ govukFileUpload({
                                    id: "case-details-crm8-file-upload",
                                    name: "case_details[crm8_form]",
                                    label: {
                                        text: "Upload a file"
                                    }
                                    }) }}
                            </div>

                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="case-details-send-crm8-via-post" name="case_details[send_crm8_via]" type="radio" value="via post" data-aria-controls="conditional-crm8-via-post">
                                <label class="govuk-label govuk-radios__label" for="case-details-send-crm8-via-post">
                                Via post
                                </label>
                            </div>

                            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-crm8-via-post">
                                <p>Post your paper evidence at:</p>

                                <p>Northgate Public Services<br>
                                    26 Charles Way<br>
                                    Bulwell<br>
                                    Nottingham<br>
                                    NG6 8RF</p>
                            </div>

                            </div>
                        </fieldset>
                    </div>
                </div>
                <div id='case-remitted-section' class='hidden'>
                    {% set remittedFileUploadHtml %}
                    {{ govukFileUpload({
                        id: "case-details-remitted-file-upload",
                        name: "case_details[crm8_form]",
                        label: {
                            text: "Upload a file"
                        }
                        }) }}
                    {% endset %}
                    {% set remittedPostHtml %}
                    <p>Post your paper evidence at:</p>

                    <p>Northgate Public Services<br>
                        26 Charles Way<br>
                        Bulwell<br>
                        Nottingham<br>
                        NG6 8RF</p>

                    <p>This may delay the times in assessing your claims</p>
                    {% endset %}
                    {{ govukDateInput({
                        id: "case-details-case-remitted-date",
                        namePrefix: "case_details[case_remitted_date]",
                        fieldset: {
                            legend: {
                            text: "Date in which case was remitted",
                            isPageHeading: true,
                            classes: "govuk-fieldset__legend--s"
                            }
                        },
                        hint: {
                            text: "For example, 27 3 2007"
                        }
                        }) }}

                    {% call govukFieldset({
                        legend: {
                            text: "How will you be providing evidence?",
                            classes: "govuk-fieldset__legend--s",
                            isPageHeading: true
                        }
                        }) %}
                    {{ govukRadios({
                        name: "case_details[send_evidence_via]",
                        fieldset: {
                        },
                        items: [
                            {
                            value: "file upload",
                            text: "File upload",
                            conditional: {
                                html: remittedFileUploadHtml
                            }
                            },
                            {
                            value: "via post",
                            text: "Via post",
                            conditional: {
                                html: remittedPostHtml
                            }
                            }
                        ]
                        }) }}
                    {% endcall %}
                </div>
                <button class="govuk-button" data-module="govuk-button">Save and continue</button>

            </form>
        </div>
    </div>
{% endblock %}