{% extends "layout.html" %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">Check your answers</h1>
            <form class="form" action="declaration" method="post">
                <table class="govuk-table">
                    <caption class="govuk-table__caption govuk-table__caption--m">Uploaded files</caption>
                    <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">File notes</th>
                            <td class="govuk-table__cell">File notes document</td>
                            <td class="govuk-table__cell">
                                <a class="govuk-link" href="#">Change</a>
                            </td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">Attendance notes</th>
                            <td class="govuk-table__cell">Attendance doc 1</td>
                            <td class="govuk-table__cell"></td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">Attendance without counsel assigned</th>
                            <td class="govuk-table__cell">
                                <ol class="govuk-list govuk-list--number">
                                    <li>Supporting_document_1.pdf</li>
                                    <li>Supporting_document_2.pdf</li>
                                </ol>
                            </td>
                            <td class="govuk-table__cell"></td>
                        </tr>
                    </tbody>
                </table>
                <button class="govuk-button" data-module="govuk-button">Submit claim</button>
            </form>
        </div>
    </div>
    {% endblock%}