{% extends "layout.html" %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">Why are you claiming a non-standard magistrate fee?</h1>

            <form class="form" action="claim_details" method="post">
                {% set repOrderDateWithdrawnOn %}
                {{ govukDateInput({
                    id: "claim-justification-rep-order-date-withdrawn-on",
                    namePrefix: "claim_justification[rep_order_date_withdrawn_on]",
                    hint: {
                        text: "For example, 27 3 2007"
                    }
                }) }}
                {% endset -%}

                {% set otherReasonForClaiming %}
                {{ govukTextarea({
                    id: "claim-justification-other",
                    name: "claim_justification[other_reason]",
                    hint: { text: 'Provide details'}
                    }) }}
                {% endset -%}
                {# Choice of reasons #}
                {{ govukCheckboxes({
                    name: "claim_justification[value]",
                    fieldset: {
                        legend: {
                        text: "Tick the boxes that apply",
                        isPageHeading: true,
                        classes: "govuk-fieldset__legend--m"
                        }
                    },
                    hint: {
                        text: "Select all options that are relevant to you."
                    },
                    items: [
                        {
                        value: "guilty plea",
                        text: "Core costs exceed higher limit"
                        },
                        {
                        value: "uncontested breach",
                        text: "Enhanced rates claimed"
                        },
                        {
                        value: "discontinuance or withdrawal",
                        text: "Councel or agent assigned"
                        },
                        {
                        value: "warrant of arrest",
                        text: "Representation order withdrawn on",
                        conditional: {
                            html: repOrderDateWithdrawnOn}
                        },
                        {
                        value: "discontinuance_or_withdrawal",
                        text: "Extradition"
                        },
                        {
                        value: "discontinuance or withdrawal",
                        text: "Other",
                        conditional: {
                            html: otherReasonForClaiming}
                        }
                    ]
                    }) }}
                <button class="govuk-button" data-module="govuk-button">Save and continue</button>

            </form>
        </div>
    </div>
{% endblock %}