{% extends "layout.html" %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">What are you claiming for?</h1>
            <form class="form" method="post">
                {% set nonStandardHTML %}
                {{ govukDateInput({
                    id: "claim-type-nsmf-date",
                    namePrefix: "claim_type[nsmf_date]",
                    fieldset: {
                        legend: {
                        text: "Representation order date"
                        }
                    },
                    hint: {
                        text: "For example, 27 3 2007"
                    }
                    }) }}
                {% endset -%}

                {% set breachOfInjunctionHTML %}
                {{ govukInput({
                    id: "claim-type-breach-of-injunction-cntp-number",
                    name: "claim_type[cntp_number]",
                    classes: "govuk-!-width-one-third",
                    label: {
                        text: "CNTP number"
                    }
                    }) }}
                {{ govukDateInput({
                    id: "claim-type-breach-of-injunction-cntp-date",
                    namePrefix: "claim_type[cntp_date]",
                    fieldset: {
                        legend: {
                        text: "CNTP date"
                        }
                    },
                    hint: {
                        text: "For example, 27 3 2007"
                    }
                    }) }}
                {% endset -%}

                {{ govukRadios({
                    name: "claim_type[selected]",
                    items: [
                        {
                        value: "non standard magistrates fee",
                        text: "Non-standard magistrates fee",
                        conditional: {
                            html: nonStandardHTML
                        }
                        },
                        {
                        value: "breach of injunction",
                        text: "Breach of injunction",
                        conditional: {
                            html: breachOfInjunctionHTML
                        }
                        },
                        {
                        value: "other",
                        text: "Something else"
                        }
                    ]
                    }) }}
                <button class="govuk-button" data-module="govuk-button" id='claim_type_continue'>Save and continue</button>
            </form>
        </div>
    </div>
{% endblock %}