{% extends "layout.html" %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">Defendant details</h1>
            <div data-module="moj-add-another">
                <form method="post" action="claim_justification" >
                    <fieldset class="govuk-fieldset moj-add-another__item">
                        <legend class="govuk-fieldset__legend moj-add-another__title govuk-fieldset__legend--m">
                            Main defendant
                        </legend>
                        {# Full Name #}
                        <div class="govuk-form-group">
                            <label class="govuk-label govuk-!-font-weight-bold" for="defendant[0][name]">
                                Full name
                            </label>
                            <input class="govuk-input" id="defendant[0][name]" name="defendant[0][name]" type="text" data-name="defendant[%index%][name]" data-id="defendant[%index%][name]">
                        </div>
                        {# MAAT ID #}
                        <div class="govuk-form-group">
                            <label class="govuk-label govuk-!-font-weight-bold" for="defendant[0][maat_number]">
                                MAAT ID
                            </label>
                            <input class="govuk-input" id="defendant[0][maat_number]" name="defendant[0][maat_number]" type="text" data-name="defendant[%index%][maat_number]" data-id="defendant[%index%][maat_number]">
                        </div>
                    </fieldset>
                    {# Buttons #}
                    <div class="moj-button-action">
                        <button class="govuk-button govuk-button--secondary moj-add-another__add-button govuk-!-margin-bottom-4" data-module="govuk-button">
                            Add another defendant
                        </button>
                    </div>
                    <div class="moj-button-action">
                        <button class="govuk-button" data-module="govuk-button">
                            Save and continue
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}