{% extends "layout.html" %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">Firm details</h1>
            <form class="form" action="case_details" method="post">
                {% call govukFieldset({}) %}
                <div class="govuk-form-group">
                    <label class="govuk-label" for="firm-details-firm-name">
                        Firm name
                    </label>
                    <input class="govuk-input govuk-input--width-10" id="firm-details-firm-name" name="firm_details[firm_name]" type="text" value={{firmDetails.firm_name}}>
                </div>
                {{ govukInput({
                    label: {
                        text: "Firm account number"
                    },
                    classes: "govuk-input--width-20",
                    id: "firm-details-firm-account",
                    name: "firm_details[account_number]"
                    }) }}
                {{ govukInput({
                        label: {
                        text: 'Address line 1'
                        },
                        classes: 'govuk-input--width-20',
                        id: "firm-details-address-line-1",
                        name: "firm_details[address_line_1]"
                    }) }}
                {{ govukInput({
                        label: {
                        text: 'Address line 2'
                        },
                        classes: 'govuk-input--width-20',
                        id: "firm-details-address-line-2",
                        name: "firm_details[address_line_2]"
                    }) }}
                {{ govukInput({
                        label: {
                        text: "Town or city"
                        },
                        classes: "govuk-input--width-10",
                        id: "firm-details-town",
                        name: "firm_details[town]"
                    }) }}
                {{ govukInput({
                        label: {
                        text: "Postcode"
                        },
                        classes: "govuk-input--width-10",
                        id: "firm-details-postcode",
                        name: "firm_details[postcode]"
                    }) }}
                {% endcall %}
                {% call govukFieldset({
                    legend: {
                        text: "Solicitor details",
                        classes: "govuk-fieldset__legend--m",
                        isPageHeading: true
                    }
                }) %}
                {# First Name #}
                {{ govukInput({
                    label: {
                        text: "Solicitor first name"
                    },
                    classes: "govuk-input--width-20",
                    id: "firm-details-solicitor-fullname",
                    name: "firm_details[solicitor_firstName]"
                    }) }}
                {# Last Name #}
                {{ govukInput({
                    label: {
                        text: "Solicitor surname"
                    },
                    classes: "govuk-input--width-20",
                    id: "firm-details-solicitor-surname",
                    name: "firm_details[solicitor_surName]"
                    }) }}
                {# Reference #}
                {{ govukInput({
                    label: {
                        text: "Solicitor reference number"
                    },
                    classes: "govuk-input--width-10",
                    id: "firm-details-solicitor-reference",
                    name: "firm_details[solicitor_reference]"
                    }) }}
                {% endcall %}
                {% call govukFieldset({
                    legend: {
                        text: "Contact details",
                        classes: "govuk-fieldset__legend--m",
                        isPageHeading: true
                    }
                }) %}
                {# Contact name #}
                {{ govukInput({
                    label: {
                        text: "Contact full name"
                    },
                    classes: "govuk-input--width-30",
                    id: "firm-details-contact-name",
                    name: "firm_details[contact_name]"
                    }) }}
                {# Telephone #}
                {{ govukInput({
                    label: {
                        text: "Telephone number"
                    },
                    classes: "govuk-input--width-10",
                    id: "firm-details-contact-tel",
                    name: "firm_details[contact_tel]",
                    hint: {
                        text: "For example, 01632 960 001 or +44 808 157 0192"
                    }
                    }) }}
                {% endcall %}
                <button class="govuk-button" data-module="govuk-button">Save and continue</button>

            </form>
        </div>
    </div>
{% endblock %}