{% extends "layout.html" %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">Upload supporting evidence</h1>
            <div class="govuk-!-margin-bottom-7">
                <p class="govuk-body">
                    Based on your answers, you must upload:
                </p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>
                        <a href="#" class="govuk-link">CRM8 form</a>
                    </li>
                    <li>Evidence of remittal</li>
                    <li>Evidence for supplemental claim</li>
                    <li>Prior authority certification</li>
                </ul>
                <div class="govuk-warning-text">
                    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                    <strong class="govuk-warning-text__text">
                        <span class="govuk-warning-text__assistive">Warning</span>
                        If you do not upload this evidence, it might take longer to assess your claim.
                    </strong>
                </div>
                <p class="govuk-body">
                    You might want to upload:
                </p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>File notes</li>
                    <li>Attendance notes</li>
                    <li>Reading case law</li>
                    <li>Documentation</li>
                    <li>Prosecution evidence review</li>
                    <li>Emails</li>
                </ul>
            </div>
            <form class="form" action="check_answers" method="post">
                <div class="moj-multi-file-upload">

                    <div class="moj-multi-file-upload__upload">

                        <div class="govuk-form-group">
                            <label class="govuk-label govuk-label--m" for="documents">
                                Upload files
                            </label>
                            <div class="govuk-hint">
                                Files must be a DOC, DOCX, RTF, ODT, JPG, BMP, PNG, TIF or PDF.
                            </div>
                            <input class="govuk-file-upload moj-multi-file-upload__input" id="documents" name="documents" type="file" multiple="">
                        </div>

                        <button class="govuk-button govuk-button--secondary moj-multi-file-upload__button" data-module="govuk-button">
                            Upload file
                        </button>

                    </div>

                    <div class="moj-multi-file__uploaded-files hidden">
                        <h2 class="govuk-heading-m">Uploaded files</h2>
                        <div class="govuk-summary-list moj-multi-file-upload__list"></div>
                    </div>
                </div>

                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                        <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="upload-evidence-send-via-post" name="upload_evidence[send_via_post]" type="checkbox" value="send by post" data-aria-controls="conditional-postal-address">
                                <label class="govuk-label govuk-checkboxes__label" for="upload-evidence-send-via-post">
                                    I’ll send the supporting evidence by post
                                </label>
                            </div>
                            <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-postal-address">
                                <p class="govuk-body">Post your evidence to:</p>
                                <ul class="govuk-list">
                                    <li>Northgate Public Services</li>
                                    <li>Unit 1
                                    </li>
                                    <li>26 Charles way
                                    </li>
                                    <li>Bulwell</li>
                                    <li>Nottingham</li>
                                    <li>NG6 8RF</li>
                                </ul>
                                <p class="govuk-body">If you post your evidence, it might take longer to assess your claim.</p>
                            </div>
                        </div>
                    </fieldset>
                </div>

                <button class="govuk-button" data-module="govuk-button">
                    Save and continue
                </button>
            </form>
        </div>
    </div>
    {% endblock%}