{% extends "layout.html" %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-thirds">
            <h1 class="govuk-heading-xl">You added
                {{workItems.length}}
                work item{% if testData.length > 1 %}s{% endif %}
            </h1>
            {# Table of work items #}
            {% for workItem in workItems -%}
                <table class="govuk-table">
                    <caption class="govuk-table__caption govuk-table__caption--m">{{workItem.processed_date}}</caption>
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th scope="col" class="govuk-table__header govuk-!-width-one-half">Type of work</th>
                            <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Time spent</th>
                            <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Fee earner</th>
                            <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Actions</th>
                        </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                        {% for item in workItem.items -%}
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell">{{item.claim_types}}</td>
                                <td class="govuk-table__cell">{{item.time_spent.hr}}
                                    hour{% if item.time_spent.hr > 1 %}s{% endif %}
                                    {{item.time_spent.min}}
                                    minute{% if item.time_spent.min > 1 %}s{% endif %}
                                </td>
                                <td class="govuk-table__cell">{{item.fee_earner_initial}}</td>
                                <td class="govuk-table__cell">Change</td>

                            </tr>
                        {%- endfor %}
                    </tbody>
                </table>
                {%- endfor%}

                <form class="form" action="letters_calls" method="post">
                    <div class="govuk-button-group">
                        <button class="govuk-button" data-module="govuk-button">
                            Save and continue
                        </button>
                        <a href="claim_items" class="govuk-button govuk-button--secondary">
                            Add work item
                        </a>
                    </div>

                </form>
            </div>
        </div>
    {% endblock %}