{% extends "layout.html" %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-thirds">
            <h1 class="govuk-heading-l">{{testData.length}}
                work item{% if testData.length > 1 %}s{% endif %}
            </h1>
            {# Table of work items #}
            <table class="govuk-table">
                <caption class="govuk-table__caption govuk-table__caption--m">Month you apply</caption>
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header govuk-!-width-one-half">Date</th>
                        <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Fee earner</th>
                        <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Travel</th>
                        <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Waiting</th>
                        <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Attendances</th>
                        <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Preperation</th>
                        <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Advocacy</th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    {% for data in testData -%}
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">{{data.date}}</td>
                            <td class="govuk-table__cell">{{data.fee_earner}}</td>
                            <td class="govuk-table__cell">{{data.travel}}</td>
                            <td class="govuk-table__cell">{{data.waiting}}</td>
                            <td class="govuk-table__cell">{{data.attendances}}</td>
                            <td class="govuk-table__cell">{{data.preperation}}</td>
                            <td class="govuk-table__cell">{{data.advocacy}}</td>
                        </tr>
                    {%- endfor %}
                </tbody>
            </table>

            {# Pagination and count#}
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-half">
                    {{ govukPagination({
                        previous: {
                            href: "#"
                        },
                        next: {
                            href: "#"
                        },
                        items: [
                                    {
                                    number: 1,
                                    current: true,
                                    href: "#"
                                    },
                                    {
                                    number: 2,
                                    href: "#"
                                    },
                                    {
                                    number: 3,
                                    href: "#"
                                    },
                                    {
                                    ellipsis: true
                                    },
                                    {
                                    number: 9,
                                    href: "#"
                                    }
                                ]
                    }) }}
                </div>
                <div class="govuk-grid-column-one-half govuk-!-padding-top-2 govuk-!-text-align-right">
                    <p class="govuk-body govuk-!-font-size-19 govuk-!-display-inline">
                        Showing
                        <span class='govuk-!-font-weight-bold'>1</span>
                        to
                        <span class='govuk-!-font-weight-bold'>6</span>
                        of
                        <span class='govuk-!-font-weight-bold'>54</span>
                        work items
                    </p>
                </div>
            </div>
            <form class="form" action="claim_summary" method="post">
                <div class="govuk-button-group">
                    <button class="govuk-button" data-module="govuk-button">
                        Save and continue
                    </button>
                    <a href="claim_items" class="govuk-button govuk-button--secondary">
                        Add work item
                    </a>
                </div>

            </form>
        </div>
    </div>
{% endblock %}